@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&display=swap');


html {
    height: 100%;
}

body {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    height: 100%;
    flex: 1;
}

#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

:root {
    font-family: 'Inter', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

header {
    position:relative;
}

img {
    width: 5rem;
    height: 5rem;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: 300ms;
}

a:hover {
    font-size: 1.5rem;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 2px;
}

main {
    margin-top: 12rem;
}

li {
    text-align: center;
    margin: 2rem;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    position: relative;
    left: -16px;
}